header {
    background-color: #a1CCD1;
    color: aliceblue;
    text-align: center;
    margin-left: 100px ;
    margin-right: 100px;
    border-radius: 10;
    }
    
    .input-section{
        display: flex;
        flex-direction: column;
    }
    
    label{
        display: block;
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: bold;
        color: #E9B384;
    }
    
    input {
        padding: 10px;
        border: 4px solid #E9B384;
        font-size: 15px;
        outline: auto;
    }
    
    input:focus{
        border-color: #7C9D96;
    
    }
    
    button{
        padding: 10px 20px;
        font-size: 15px;
        font-weight: bold;
        color: #E9B384;
        text-align: center;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        background-color: aquamarine;
    }
    
    button:hover{
        background-color: aqua;
    
    }
    
    button:active{
        transform: translateY(3px);
        background-color: blue;
    }

    img{
        margin-top: 30px;
    }